body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAppBar-colorPrimary{
  color: #ff3c3f;
}

/* ------------------COLORS--------------------------- */
.color-white {
  color: white !important;
}

.color-red {
  color: red !important;
}

.bg-orange{
  background-color: #01abaa;
}

.color-blue{
  color:#01abaa !important  
}

.color-gray{
  color:#8f9191 !important  
}

.bg-blue{
  background-color:#01abaa !important  
}

.container {
  margin: 6rem 4rem 2rem 4rem;
}

.paper {
  padding: 2rem
}

.textfield {
  width: 100%;
}

.text-link {
  color: #01abaa;
  text-decoration: none;
  font-weight: 700 !important;
}

.profile-icon {
  background-color: white !important;
  border-radius: 100% !important;
  padding: 5px !important;
  min-width: 0px !important;
  font-size: 1.2rem !important;
  color: #01abaa !important;
  line-height: 1.2 !important;
}
.text-link:hover {
  text-decoration: underline;
}

.input-padding {
  padding: 0.5rem 1rem !important;
}

.page-heading {
  padding: 0 0 2rem 0;
}

.section-heading {
  margin: 0rem 0 1rem 1rem !important
}

.section-odd{
  background-color: #effcfc;
  padding: 3rem 2rem;
}

.section-even{
  background-color:white;
  padding: 3rem 2rem;
}

.tabs-section{
  margin: 5rem 4rem 2rem 4rem
}

.css-19kzrtu{
  padding: 20px !important;
}

.home-section-heading {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  color: #01abaa;
  background-image: linear-gradient(180deg, rgba(1,171,170,1) 40%,rgba(242,7,245,1) 180%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
}

.home-section-hr {
  height: 4px;
  margin: 0px auto;
  border-radius: 5px;
  width: 120px;
  background-image: linear-gradient(90deg, rgba(1,171,170,1) 40%,rgba(242,7,245,1) 180%);
}

.home-section-heading::first-letter {
  font-size: 3.8rem;
  font-weight: 700;
  color: #079b9b;
}

.home-choose-card{
  margin: 0.2rem;
  padding: 0.5rem 0.2rem 0.2rem 0.2rem;
  border: 1px solid #01aba0;
  border-radius: 5px;
  transition: all 0.2s ease-in !important;
}

.home-choose-card:hover{
  transform: translate(0px, -10px);
}

.home-parallex-one {
  min-height: 400px;
  background-image: url("./assets/bg9.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-parallex-reach-us {
  min-height: 400px;
  background-image: url("./assets/bg10.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primary-button-dark{
  color: white !important;
  font-weight: 700 !important;
  background-color: #01abaa !important; 
  border: 1px solid #01abaa !important;
  transition: all 0.2s ease-in !important;
}
.remove-button{
  font-size: 0.8rem !important;
  padding: 2px 8px !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 0px !important;
  margin: 2px !important;
  color: white !important;
  background-color: #ff3c3f  !important; 
  border: 1px solid #ff3c3f  !important;
  transition: all 0.2s ease-in !important;
}

.order-button{
  font-size: 1rem !important;
  padding: 8px 20px !important;
  width: 70%;
  display: flex !important;
  align-items: center !important;
  border-radius: 0px !important;
  margin: 1rem !important;
  color: white !important;
  background-color: #ff3c3f  !important; 
  border: 1px solid #ff3c3f  !important;
  transition: all 0.2s ease-in !important;
}


.primary-button-dark:hover{
  background-color: white !important; 
  border: 1px solid #01abaa !important;
  color:#01abaa !important;
  transform: translate(0px, -2px);
}

.remove-button:hover{
  background-color: white !important; 
  border: 1px solid #ff3c3f  !important;
  color:#ff3c3f  !important;
  transform: translate(0px, -2px);
}

.order-button:hover{
  background-color: white !important; 
  border: 1px solid #ff3c3f  !important;
  color:#ff3c3f  !important;
  transform: translate(0px, -2px);
}

.counter-button{
  min-width: 0px !important;
  padding: 0.5rem !important;
  color:#01abaa !important;
  font-weight: 700 !important;
  background-color: white !important; 
  border: 1px solid #01abaa !important;
  transition: all 0.2s ease-in !important;
}

.counter-button-2{
  min-width: 0px !important;
  padding: 0.1rem !important;
  color:#01abaa !important;
  font-weight: 600 !important;
  background-color: white !important; 
  border: 1px solid #01abaa !important;
  transition: all 0.2s ease-in !important;
}

.counter-button:hover{
  color: white !important;
  background-color: #01abaa !important; 
  border: 1px solid #01abaa !important;
  transform: translate(0px, -2px);
}

.counter-button-2:hover {
  color: white !important;
  background-color: #01abaa !important; 
  border: 1px solid #01abaa !important;
  transform: translate(0px, -2px);
}

.PrivatePickersSlideTransition-root .Mui-selected{
  background-color: #01abaa !important;
  color: white !important;
}

.MuiClockPicker-root .Mui-selected{
  background-color: #01abaa !important;
  color: white !important;
}

.main-carousel-image{
  height: 70vh;
  object-fit: cover;
}

/* ************************************ START OF INPUT FIELD***************** */
.MuiOutlinedInput-root fieldset{
  border: 1px solid #01abaa !important
}

.Mui-focused fieldset{
  border: 2px solid #5f07b1 !important
}

.Mui-error fieldset{
  border: 2px solid rgb(211, 47, 47) !important
}

.MuiInputLabel-outlined {
  color: #01abaa !important
}
/* ************************************ END OF INPUT FIELD***************** */


/* ****************** Start of HOME MINIONS SECTION styling */
.home-minion-div{
  min-height: 150px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .minion{
  height: 150px;
  position: absolute;
  animation-name: animate-minion;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */


/* @keyframes animate-minion {
  0%   {right:0px; top:0px;}
  25%  {right:200px; top:20px;}
  50%  {right:400px; top:50px;}
  75%  {right:200px; top:20px;}
  100% {right:0px; top:0px;}
} */

/* .mango-one{
  height: 150px;
  position: absolute; 
  transform: rotate(80deg);
  animation-name: animate-mango;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate-mango {
  0%   {left:0px; bottom:0px;}
  25%  {left:200px; bottom:20px;}
  50%  {left:400px; bottom:40px;}
  75%  {left:200px; bottom:20px;}
  100% {left:0px; bottom:0px;}
} */

.home-minion-div-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(6 124 124 / 39%);
}

.mango-two{
  height: 150px;
}
/* ****************** End of HOME MINIONS SECTION styling */


/* ********************* DATAGRID STYLING ***************************** */
.data-grid-header{
  color: white;
  background-color: #01abaa;
}

.MuiDataGrid-row:nth-child(even){
  background-color: #edfcfc;
}

.MuiDataGrid-row:hover{
  background-color:#f8e8ef;
}

.MuiDataGrid-sortIcon{
  color: white !important;
}

.MuiDataGrid-toolbarContainer button{
  font-weight: 700;
  color: #01abaa;
  padding: 2px 10px;
  border: 1px solid;
  margin: 5px 10px 5px 0px;
  transition: all 0.4s ease-in;
}

.MuiDataGrid-toolbarContainer button:hover{
  font-weight: 700;
  color: white;
  background-color: #01abaa;
}

.MuiDataGrid-menuIconButton{
  color: white !important;
} 

.CardGallery__image__28pzg{
  margin: 0  !important;
  border-radius: 0 !important;
}

/* ********************* END OF DATAGRID STYLING ***************************** */


/* .......................................................................................
                      MEDIA QUERY
   .......................................................................................
*/

@media screen and (max-width: 576px) {
  .container {
    margin: 5rem .5rem .5rem .5rem;
  }

  .css-19kzrtu{
    padding: 10px !important;
  }
  
  .main-carousel-image{
    height: 50vh;
    object-fit: cover;
  }
  
  .tabs-section{
    margin: 4rem 0rem 2rem 0rem
  }

  .paper {
    padding: 2rem .5rem
  }
  
  .input-padding {
    padding: 0.8rem 0.5rem !important;
  }

  .MuiDataGrid-toolbarContainer button{
    font-weight: 700;
    color: #01abaa;
    padding: 2px 2px;
    border: 1px solid;
    margin: 5px 2px 5px 2px;
    transition: all 0.4s ease-in;
  }
  
}
